*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tahu {
    margin-right:auto;
    margin-left: 10px;
}

.follow {
    margin-right: 10px;
    background-color: red;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor:pointer;
    transition: .5s ease 0s;
}

.follow:hover {
    background-color: rgb(136, 30, 30);
}
nav ul {
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.container{
    /* max-width: 1200px; */
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.description {
    font-size: 30px;
    font-weight: border;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    /* text-align:center;
    display: flex;
    justify-content: center */
}

.table {
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;   
}

.background_table {
    background-image: url(bendera.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    display: flex;
    flex-direction:column;
}

.presiden {
    display: flex;
    justify-content: center;
    text-align: center;
}

.p_presiden {
    display: flex;
    justify-content: center;
    text-align: center;
}